.bread-crumbs {
  display: flex;
  align-items: center;
  color: #9a9a9a;
}

.bread-crumbs__link--active {
  font-weight: 700;
  text-decoration: underline;
}

ul.bread-crumbs li + li:before {
  color: #9a9a9a;
  content: "/\00a0";
}

.bread-crumbs__link:hover {
  color: #ff3d00;
}
