footer {
  display: flex;
  justify-content: space-between;

  vertical-align: middle;
}

.footer-container__section {
  height: 104px;
  margin-top: 42px;
}

footer .menu {
  padding-top: 16px;
  padding-left: 60px;
}

.social {
  padding-top: 8px;
  padding-left: 39px;
  display: flex;
}

.social__link {
  text-decoration: none;
}

.social__icon {
  margin-right: 6px;
}

.social__icon:last-child {
  margin-right: 0;
}

.social__img {
  width: 36px;
  height: 36px;
  position: relative;
}

footer .contacts {
  padding-top: 3px;
  line-height: 1.5;
}

.contacts__info--footer {
  font-size: 11px;
  text-decoration: none;
  color: #9a9a9a;
}

.container--footer {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}

/** Sprite **/

.social__img--tg:hover::after {
  background-position: -66px -66px;
  opacity: 0;
}

.social__img--tg:hover:before {
  opacity: 1;
}

.social__img--tg:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -122px -10px;
}

.social__img--tg:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -66px -66px;
  opacity: 0;
  transition: 0.3s;
}

.social__img--vk:hover::after {
  background-position: -122px -66px;
  opacity: 0;
}

.social__img--vk:hover:before {
  opacity: 1;
}

.social__img--vk:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -66px -122px;
}

.social__img--vk:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -122px -66px;
  opacity: 0;
  transition: 0.3s;
}

.social__img--face:hover::after {
  background-position: -10px -122px;
  opacity: 0;
}

.social__img--face:hover:before {
  opacity: 1;
}

.social__img--face:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -10px -10px;
}

.social__img--face:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/img/social/sprite.png") -10px -122px;
  opacity: 0;
  transition: 0.3s;
}

.social__img--inst:hover::after {
  background-position: -10px -66px;
  opacity: 0;
}

.social__img--inst:hover:before {
  opacity: 1;
}

.social__img--inst:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/video-prod/img/social/sprite.png") -66px -10px;
}

.social__img--inst:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url("/video-prod/img/social/sprite.png") -10px -66px;
  opacity: 0;
  transition: 0.3s;
}
