.hello-reviews {
  background-image: url("/video-prod/img/top-line.png");
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.hello__reviews--container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.header-reviews {
  margin-left: 2px;
}

.reviews__title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 87px;
  margin-left: 7px;
}
