.hello-services {
  background-image: url("/video-prod/img/top-line.png");
}

.header--service {
  margin-bottom: 65px;
}

.header-services {
  padding-bottom: 27px;
  margin-left: 2px;
}

.services__title {
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 82px;
}
