.partners {
  background-color: #f4f5f5;
  padding-top: 87px;
  padding-bottom: 24px;
  padding-left: 4px;
}

.partners__title {
  font-size: 48px;
  font-weight: bold;
  color: #1a1b1e;
  margin-bottom: 58px;
}

.partners__item {
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -46px;
}

.partner__items {
  max-width: 206px;
}
.partner__item {
  margin-left: 46px;
  margin-bottom: 36px;
  display: flex;
}

.partner__link {
  text-decoration: none;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partner__link:hover {
  filter: grayscale(0);
  transition: 0.3s;
}
